* {
    box-sizing: border-box;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a:hover {
    color: gray;
    transition: 0.3s;
}

.flex-container {
    display: flex; 
}

.block1 {
    background-color: rgb(255, 255, 255);
    height: 750px;
}

.block2 {
    flex-direction: column;
    background-color: #404044;
    padding-top: 2%;
    padding-bottom: 1%;
}

.block3 {
    background-color: rgb(255, 255, 255);
    height: 750px;

}

hr {
    width: 95%;
    margin: auto;
}

.block4 {
    background-color: rgb(255, 255, 255);
    height: 750px;
}

.block5 {
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.flex-nav {
    padding-top: 0.5%;
    padding-bottom: 0.25%;
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex; 
    align-items: center;
    width: 100%;
    background-color: #404044;
    color: rgb(255, 255, 255);
}

.merg1 {
    margin-left: 5%;
    height: 50px; 
    width: 50px;
}

.flex-nav > div:first-child {
    width: 100%;
}

.flex-nav > div {
width: 16%;
}

header {
    background-image: url(/img/backgroundholder.png);
    height: 50vw;
}

.flex-footer {
    display: flex; 
    align-items: center;
    background-color: #404044;
    height: 5vw;
    color: rgb(255, 255, 255);
}

/* Form */

form {
    border: 3px solid #f1f1f1;
    font-family: Arial;
    width: 50%;
    height: 50%;
  }
  
  .container {
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  input[type=submit] {
    background-color: #404044;;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

/* Carousel */

.slideshow-container {
  max-width: 75%;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* sidenav */

.openmobile {
    font-size:30px;
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media only screen and (max-width: 768px) {
    .prev, .next,.text {font-size: 11px}

    .flex-nav > div{
        display: flex;
        align-items:center;
    }

    .merg1 {
        margin: auto;
        height: 35px; 
        width: 35px;
    }

    .flex-nav > div:not(:first-child) {
        display: none;
    }

    .openmobile {
        margin-left: 1%;
        position: absolute;
        font-size:30px;
        display: block;
    }

    form {
        border: 3px solid #f1f1f1;
        font-family: Arial;
        width: 100%;
        height: 50%;
      }

      .block5 {
        margin-bottom: 0;
      }
  }